<div style="text-align: center; padding: 50px;">
    <div style="width: 600px; display: inline-block;">
        <form #f="ngForm" (ngSubmit)="submit(f)">

            <h1>Registration</h1>
            <input type="text" placeholder="Name" name="name" [(ngModel)]="name" required #nameRef="ngModel">
            <span style="color:red" *ngIf="f.submitted && nameRef.invalid">* This field is rqueired!</span>
            <br /><br />
            <input type="email" placeholder="Email" name="email" [(ngModel)]="email" required #emailRef="ngModel">
            <span style="color:red;" *ngIf="f.submitted && emailRef.invalid">* This field is rqueired!</span>

            <br /><br />
            <input type="password" placeholder="Password" name="password" [(ngModel)]="password" required
                #passwordRef="ngModel">
            <span style="color:red" *ngIf="f.submitted && passwordRef.invalid">* This field is rqueired!</span>

            <br /><br />
            <input type="password" placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="confirmPassword"
                required #confirmPasswordRef="ngModel">
            <span style="color:red" *ngIf="f.submitted && confirmPasswordRef.invalid">* This field is rqueired!
            </span>
            <br /><br />
            <button type="button" style="padding: 10px; width: 290px;font-size: 20px; margin-inline-end: 20px;"
                routerLink="/">Main Page</button>
            <button type="submit" style="padding: 10px; width: 290px;font-size: 20px;">Register</button>

        </form>
    </div>
</div>