<div style="text-align: center; padding: 50px;">
    <h1>Login</h1>
    <input type="email" placeholder="Email" style="padding: 10px; width: 600px;font-size: 20px; text-align: center;" [(ngModel)]="email">
    <br /><br />
    <input type="password" placeholder="Password" style="padding: 10px; width: 600px;font-size: 20px; text-align: center;" [(ngModel)]="password">
    <br /><br />
    <button type="button" style="padding: 10px; width: 300px;font-size: 20px; margin-inline-end: 20px;" routerLink="/">Main Page</button>
    <button type="button" style="padding: 10px; width: 300px;font-size: 20px;" (click)="login()">Login</button>
    <br /><br />
    <div *ngIf="error" style="color: red;">{{error}}</div>
</div>