<div style="padding: 20px;">
    <div style="padding: 20px; border: 1px solid #ccc; text-align: center;">
        <a style="margin-inline-end: 20px;" routerLink="/popular">Popular</a>
        <a style="margin-inline-end: 20px;" routerLink="/by-downloads">By Downloads</a>
        <a style="margin-inline-end: 20px;" routerLink="/comming-soon">Comming Soon</a>
        <a style="margin-inline-end: 20px;" routerLink="/add">Add</a>
        <a style="float: right;" routerLink="/">Logout</a>
    </div>

    <div class="mt-5" style="text-align: center;">
        <div style="width: 600px;display: inline-block;">
            <form #f="ngForm" (ngSubmit)="submit(f)">
                <h3>Add New Card</h3>
                <br /><br />
                <input type="text" class="form-input" placeholder="Title" [(ngModel)]="title" name="title" required
                    #titleRef="ngModel">
                <div class="form-validation" *ngIf="f.submitted && titleRef.invalid">* This field is rqueired!</div>
                <br /><br />
                <select class="form-input" [(ngModel)]="stars" name="stars" required #starsRef="ngModel">
                    <option [ngValue]="undefined">-- Please Select Stars --</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <div class="form-validation" *ngIf="f.submitted && starsRef.invalid">* This field is rqueired!</div>
                <br /><br />
                <textarea class="form-input" placeholder="Description" [(ngModel)]="description" name="description"
                    required #descriptionRef="ngModel"></textarea>
                <div class="form-validation" *ngIf="f.submitted && descriptionRef.invalid">* This field is rqueired!
                </div>
                <br /><br />
                <input type="date" class="form-input" placeholder="Date" [(ngModel)]="date" name="date" required
                    #dateRef="ngModel">
                <div class="form-validation" *ngIf="f.submitted && dateRef.invalid">* This field is rqueired!</div>
                <br /><br />
                <input type="number" class="form-input" placeholder="Downloads" [(ngModel)]="downloads" name="downloads" min="0">
                <br /><br />
                <div style="text-align:start;">
                    <input type="checkbox" [(ngModel)]="commingSoon" name="commingSoon"> Comming Soon
                </div>
                <br /><br />
                <button type="submit" style="padding: 10px; width: 600px;font-size: 20px;">Add</button>
            </form>
        </div>
    </div>
</div>