<div style="padding: 20px;">
    <div style="padding: 20px; border: 1px solid #ccc; text-align: center;">
        <a style="margin-inline-end: 20px;" routerLink="/popular">Popular</a>
        <a style="margin-inline-end: 20px;" routerLink="/by-downloads">By Downloads</a>
        <a style="margin-inline-end: 20px;" routerLink="/comming-soon">Comming Soon</a>
        <a style="margin-inline-end: 20px;" routerLink="/add">Add</a>
        <a style="float: right;" routerLink="/">Logout</a>
    </div>
    <br><br>
    <div class="row">
        <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6" *ngFor="let card of cards">
            <div style="border: 1px solid #ccc; border-radius: 10px; padding: 20px;" >
                <div><b>Title:</b> {{card.title}}</div>
                <img src="assets/card.jpg" width="100%" class="mt-2">
                <div class="mt-2" >
                    <span><b>Date:</b> {{card.date | date}}</span>
                    <span style="float: right;"><i class="fa-solid fa-star" style="Color:rgb(255, 196, 0)"></i> {{card.stars}}</span>
                </div>
                <div class="mt-2" ><b>Description:</b></div>
                <div class="mt-2" >{{card.description}}</div>
                <div class="mt-2" style="text-align: end;">
                    <button type="button" style="background-color: rgb(138, 24, 128);color: #fff;">Add to Card</button>
                </div>

            </div>
        </div>
    </div>
</div>